.features {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  margin: 20rem 0;
  gap: 6rem;
  align-items: start;

  .feature {
    display: grid;
    gap: 1.5rem;
    align-items: center;
    justify-items: start;

    grid-template-areas:
      "icon title"
      ".    text";
    grid-template-columns: min-content 1fr;

    &__title {
      grid-area: title;
    }
    &__icon {
      grid-area: icon;
      width: 4.5rem;
      height: 4.5rem;
      fill: $color-primary;
    }
    &__text {
      grid-area: text;
      font-size: 1.7rem;
    }
  }
}
