.homes {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 7rem;

  .home {
    background-color: $color-grey-light-1;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    gap: 3rem;

    &__img {
      width: 100%;
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }
    &__like {
      width: 2rem;
      height: 2rem;
      fill: $color-primary;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      justify-self: end;
      margin: 1rem;
    }
    &__name {
      font-size: 1.6rem;
      font-family: $font-display;
      background: $color-secondary;
      color: #fff;
      padding: 1rem;
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      text-align: center;
      align-self: end;
      justify-self: center;
      transform: translateY(50%);
      width: 80%;
    }
    &__location,
    &__rooms,
    &__area,
    &__price {
      font-size: 1.5rem;
      display: flex;
      gap: 1rem;
      align-items: center;
      margin-left: 2rem;

      svg {
        width: 2rem;
        height: 2rem;
        fill: $color-primary;
      }
    }
    &__location,
    &__rooms {
      margin-top: 3rem;
    }
    .btn__home {
      grid-column: 1 / -1;
    }
  }
}
