.story {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 6rem;
  padding-left: 9rem;
  background-color: rgba($color-white, .7);
  transform: skewX(-12deg);
  box-shadow: rgba($color-black, 0.1) 3rem 3rem 6rem;
  border-radius: 3px;
  font-size: $default-font-size;

  &__shape {
    height: 15rem;
    width: 15rem;
    float: left;
    -webkit-shape-outside: circle(50%);
    shape-outside: circle(50%);
    background-color: orangered;
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    overflow: hidden;
  }

  &__image {
    height: 100%;
    shape-outside: circle(50%);
    transform: translateX(-3rem) scale(1.4);
    transition: all 0.5s;
  }

  &__text {
    transform: skewX(12deg);
  }

  &__caption {
    color: $color-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  &:hover &__image {
    transform: translateX(-3rem) scale(1.2);
    filter: blur(1px) brightness(0.8);
  }
}
