.story {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 6rem;
  padding-left: 9rem;
  background-color: $color-white;
  transform: skewX(-12deg);
  box-shadow: rgba($color-black, 0.1) 3rem 3rem 6rem;
  border-radius: 3px;

  &__shape {
    height: 15rem;
    width: 15rem;
    float: left;
    -webkit-shape-outside: circle(50%);
    shape-outside: circle(50%);
    background-color: orangered;
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
  }

  &__image {
      height: 100%;
    shape-outside: circle(50%);
  }
  &__text {
    font-size: $default-font-size;
    transform: skewX(12deg);
  }
}
